/* public/css/01-variables.css */
:root {
    --verde-escuro: #1B4332;
    --cor-girassol: #FFEE8C;
    --branco-puro: #FFFFFF;
    --off-white: #fdfaf6;
    --cinza-texto: #555;
    --cinza-borda: #e0e0e0;
}