<footer class="rodape-principal ruido">
    <div class="rodape-container">
        
        <div class="rodape-bloco-superior">
            <nav class="rodape-nav">
                <ul>
                    <li><a href="index.html">Início</a></li>
                    <li><a href="sobre.html">Sobre Nós</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="profissionais.html">Profissionais</a></li>
                    <li><a href="contato.html">Contato</a></li>
                    <li><a href="blog.html">Blog</a></li>
                </ul>
            </nav>
        </div> <div class="rodape-bloco-rt">
            <p>Responsável Técnico: <span>Anderson Costa | CRP: 06/190861</span></p>
        </div>

        <div class="rodape-social">
            <a href="#" target="_blank" aria-label="Link para o Facebook">
                <img src="assets/icons/facebook.png" alt="Ícone do Facebook">
            </a>
            <a href="#" target="_blank" aria-label="Link para o Instagram">
                <img src="assets/icons/instagram.png" alt="Ícone do Instagram">
            </a>
            <a href="#" target="_blank" aria-label="Link para o LinkedIn">
                <img src="assets/icons/linkedin.png" alt="Ícone do LinkedIn">
            </a>
            <a href="#" target="_blank" aria-label="Link para o Spotify">
                <img src="assets/icons/spotify.png" alt="Ícone do Spotify">
            </a>
        </div>

        <hr class="rodape-divisor">

        <div class="rodape-base">
            <div class="rodape-links-legais">
                <a href="termos.html">Termos & Condições</a>
                <a href="privacidade.html">Política de Privacidade</a>
                <a href="acessibilidade.html">Acessibilidade Web</a>
            </div>
            </div> 
        
        <div class="rodape-copyright">
            <p>© 2025 Girassol. <span> Todos os direitos reservados.</span></p>
        </div>
        
    </div> 
</footer>

<div id="pwa-banner-placeholder"></div>