<header class="ruido">
    <a href="index.html" class="logo">
    <img class="logo-escura" src="assets/logos/logo_duplo.png" alt="Logo Jano">
    <img class="logo-branca" src="assets/logos/logo_duplo_branco.png" alt="Logo Jano">
</a>
    <button class="menu-hamburguer" aria-label="Abrir menu">
        <span class="barra"></span>
        <span class="barra"></span> 
        <span class="barra"></span>
    </button>
    <div class="container-navegacao">
        <nav>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="profissionais.html">Para Profissionais</a></li>
                <li><a href="perguntas.html">Para Comunidade</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>
        </nav>
        <div class="botoes-acao">
            <a href="login.html" class="btn btn-outline">Entrar</a>
            <a href="registrar.html" class="btn btn-solid">Registrar</a>
        </div>
    </div>
</header>